@import "https://necolas.github.io/normalize.css/latest/normalize.css";

body {
    background: rgb(235, 236, 243);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.comment__container {
    max-width: 800px;
    padding: 20px;
    margin: auto;
}

.comment__title {
    text-align: center;
}

.input__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 4px;
}

.input__name {
    height: 30px;
    margin-bottom: 4px;
    padding: 6px;
    border: 1px solid rgb(187, 165, 209);
}

.input__date {
    height: 30px;
    padding: 6px;
    border: 1px solid rgb(187, 165, 209);
    margin-bottom: 4px;
}

.input__text {
    width: -webkit-fill-available;
    height: 100px;
    margin-bottom: 4px;
    padding: 6px;
    border: 1px solid rgb(187, 165, 209);
}

.comment__block {
    padding: 6px;
    margin-bottom: 6px;
    border-bottom: 1px solid rebeccapurple;
    overflow-wrap: anywhere;
}

.comment__header {
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
    display: grid;
}

.comment__name {
    font-weight: bold;
    margin-bottom: 4px;
}

.comment__date {
    padding-left: 4px;
    justify-self: flex-end;
    grid-column: 2;
}

.comment__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment__like {
    height: 30px;
}

.comment__remove {
    height: 50px;
}

.error__text {
    color: red;
    margin-bottom: 6px;
}

.error__border {
    border: 1px solid red;
}

.button__add {
    color: #fff;
    background-color: rgb(101, 101, 224);
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 8px;
}

